.table tr td img {
    width: 50px !important;
    height: 50px !important;
    object-fit: contain;
}

td i {
    cursor: pointer;
}
th {
    color: #fff;
    text-shadow: 0 0 10px var(--bs-green);
}
td {
    color: #ffff;
}