.product__item {
    cursor: pointer;
}
.product__img img{
    width: 18rem;
    height: 20rem;
}

.product__info{
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 15px;
}
.product__info h3 a{
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 15px;
}

.product__info a:hover {
    color: inherit;
}

.product__info span {
    font-size: 0.9rem;
}

.product__card-bottom .price {
    color: var(--bs-danger);
    font-size: 1.3rem;
    font-weight: 500;
}

.product__card-bottom span:nth-child(1) {
       margin-left: 8rem;

}
.product__card-bottom span i {
    font-size: 1.2rem;
    padding: 5px;
    background: var(--bs-green);
    color: #fff;
    border-radius: 50px;
}

.product__item {
    box-shadow: 3px 3px 10px -5px rgba(0, 0, 0, .8),
    -2px -2px 5px -3px rgba(0, 0, 0, .5);
    border-radius: 5px;
    background: #fff;
}

@media only screen and (max-width:992px) {
    .product__info h3 a {
        font-size: 1.1rem;
    }

    
}

@media only screen and (max-width: 768px) {
    .product__info h3 a {
        font-size: 1rem;
    }
.product__card-bottom span i {
    font-size: 1rem;
}
    
}