.success__header {
    margin-bottom: 20px;
}
.success__header span i{
    font-size: 5rem;
    color: var(--toastify-icon-color-success);
}

table tr td, table tr th {
    width: 100px;
}

.table__success tr th {
    color: #fff !important;
}

.text-data {
    color: var(--bs-green) !important;
    font-weight: 600;
    font-size: 1.2rem;
}